<body
  style="background-image: url(<%= asset_url('spooky_forest.jpeg')%>); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <h1 class="title">
      Welcome to SCAREBNB!
    </h1>
    <div class="mainbit">
      <div class="row">
        <div class="col-6 m-auto">
          <%= form_tag killers_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find Spooks near you!"
          %>
          <%= submit_tag "Search", class: "btn btn-danger white-text" %>
          <% end %>
        </div>
      </div>
    <div class="button-container">
      <button><%= link_to 'Books a Spooking!', new_spooking_path, class: "btn btn-danger white-text"%></button>
      <button><%= link_to 'Spooks Gallery', killers_path, class: "btn btn-danger white-text"%></button>
      <button><%= link_to 'Add a Spook', new_killer_path, class: "btn btn-danger white-text"%></button>
    </div>
  </div>
</body>
