<body style="background-image: url(<%= asset_url('spooky_hallway.jpeg')%>);">
  <%= render 'shared/blood',title: "Our Spooky guys!" %>

  <div class="map-container">
    <div class="card-positions">
      <% @killers.each do | killer| %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-text"><%= killer.name %> </h3>
          <div class="button-container-no-margin">
            <button><%= link_to "More details", killer_path(killer), class: "white-text m-2"%></button>
          </div>
        </div>
      </div>
      <% end %>



    </div>

    <%# <div class="map-position">
    <div id="map"
      style="width: 100%; height: 800px;"
      data-markers="<%= @markers.to_json %>
    <%# data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>
    <%# </div> %>
    <%# </div> %>

  </div>


  <div class="index-glitch">
    <%= link_to "Back", "/" %>
  </div>
</body>
