<body>
  <%= render 'shared/blood',title: "Our Spooky guys!" %>

    <div class="card-positions">
      <% @killers.each do | killer| %>
      <div class="cards">
        <div class="card-body">
          <%= image_tag killer.image, class:'index-image' %>
          <h3 class="card-text"><%= killer.name %> </h3>
          <div>
            <button class="index-card-button btn btn-danger white-text"><%= link_to "More details", killer_path(killer)%></button>
          </div>
        </div>
      </div>
        <% end %>
    </div>

  <div class="index-glitch">
    <%= link_to "Back", "/" %>
  </div>
</body>
