<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 0;height: 0;">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </defs>
</svg>

<h1 class="title">
   <%= @killer.alias %>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
  <span class="drop"></span>
</h1>


<div>
   <%= cl_image_tag(@killer.photo.key, :transformation=>[ {:width=>350, :crop=>"scale"}, {:fetch_format=>:auto},{:radius=>"max"},{:background=>"transparent"}]) %>
</div>




<div class="killer-card">
<div class="card mt-5">

  <div class="py-3">
    <h2><strong><%= @killer.name %></strong></h2>
    <h2><i>£<%= @killer.price %></i></h2>
  </div>

  <div class="">
  <h3><%= @killer.bio %></h3>
  <br>
  </div>

   <div class="">
  <h4><strong>Weapon: </strong> <%= @killer.weapon %></h4>
  </div>
   <div class="">
  <h4><strong>Abilities: </strong> <%= @killer.abilities %></h4>
  </div>



  <div class="">
  <h4><strong><u>Location: </strong><%= @killer.location %></u></h4>
  </div>

</div>
</div>
<div class="button-container-no-margin mt-4">
  <span class="mas">Book this killer</span>
  <button><%= link_to 'Book this killer', new_spooking_path, class: "white-text mt-4"%></button>
</div>


 <%= link_to killers_path do %>
  <h1 class="glitch" data-text="back">
    <%= link_to "back", killers_path %>
    </h1>
    </div>
<% end %>
