<body>
<%= render 'shared/blood',title: "Your Spookings!" %>


<div class="spookingcontainer">
  <div class="card-container">
  <% @spooking.each do | spooking| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong><%= spooking.start_date %></strong></h5>
          <p class="card-text"><%= spooking.end_date %> </p>
          <div class=" button-container-no-margin">
            <span class="mas">View Spooking</span>
            <button><%= link_to "View Spooking", spooking_path(spooking), class: "white-text mr-20" %></button>
          </div>
        </div>
      </div>
  <% end %>
</div>

</div>

  <%= link_to root_path do %>
    <h1 class="glitch" data-text="back">
      <%= link_to "back", root_path %>
      </h1>

    <% end %>
</body>
