<body
  style="background-image: url(<%= asset_url('spooky_forest.jpeg')%>); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">

  <%= render 'shared/blood', title: "new spooking!" %>
  <%= simple_form_for [@spooking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.association :killer %>
  <div class="button-container-3">
    <button><%= f.submit class: "form-button white-text m-2"%></button>
  </div>
  <% end %>

  <div class="index-glitch">
    <%= link_to "Back", "/" %>
  </div>
</body>
