<%= render 'shared/blood', title: "new spooking!" %>


<div class="container">
    <%= simple_form_for [@spooking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.association :killer %>
      <%= f.submit %>
    <% end %>
    </div>

 <%= link_to root_path do %>
  <h1 class="glitch" data-text="back">
    <%= link_to "back", root_path %>
    </h1>
    </div>
<% end %>
