
<%= render 'shared/blood',title: "Your spooking with" %>

<div class="container ">
  <div>
      <%= render 'shared/blood',title: @spooking.killer.alias %>
        <div>
      <% if @spooking.killer.photo.attached? %>
        <%= cl_image_tag(@spooking.killer.photo.key, :transformation=>[ {:width=>250, :crop=>"scale"}, {:fetch_format=>:auto},{:radius=>"max"},{:background=>"transparent"}]) %>
      <% end %>
      </div>
      <h2>From: <%= @spooking.start_date %></h2>
      <h2>To: <%= @spooking.end_date %></h2>
  </div>
</div>



<div class="d-flex  justify-content-center ">
  <%= link_to "confirm spooking", confirmed_spooking_path(@spooking), method: :patch, class: "btn btn-danger mr-1 " %>
<%= link_to "decline spooking", declined_spooking_path(@spooking), method: :patch, class: "btn btn-danger ml-1" %>
</div>

  <%= link_to root_path do %>
    <h1 class="glitch" data-text="back">
      <%= link_to "back", root_path %>
      </h1>
    <% end %>
